@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
}

.main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right bottom, #ff9a9e 10%, #f6416c 100%);
}
::selection {
    /* color: #f2f2f2; */
    /* background: #f86d8d; */
    background: #ffffff;
}

.glass {
    min-height: 95vh;
    width: 95%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    z-index: 12;
    border-radius: 25px;
    margin: auto;
    margin-top: 24px;
    position: relative;
}
.glass .navbar {
    margin: auto;
    width: 100%;
    padding: 35px 50px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .menu {
    display: flex;
    flex-wrap: wrap;
}
.navbar .logo a {
    text-decoration: none;
    font-size: 22px;
    color: #000;
    font-weight: 500;
}
.navbar .menu li {
    list-style: none;
    margin: 0 6px;
}
.navbar .menu a {
    color: #000;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease;
}
.navbar .menu a:hover {
    color: #f2f2f2;
}

.glass .contents {
    width: 40%;
    margin: 100px 0 0 50px;
}
.contents h2 {
    font-size: 27px;
    font-weight: 600;
}
.contents p {
    font-size: 15px;
    margin-top: 10px;
}

.contacts .glass {
    margin-bottom: 24px;
}

.circle1,
.circle2 {
    width: 400px;
    height: 400px;
    background: #f6416c;
    border-radius: 50%;
    position: absolute;
}

.circle1 {
    bottom: 0%;
    left: 0%;
}

.circle2 {
    top: 0%;
    right: 0%;
}

@media (max-width: 850px) {
    .glass .navbar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px 5px;
    }
    .navbar .menu {
        margin: 10px 0 20px 0;
    }
    .glass .contents {
        margin: 30px 0 0 20px;
        width: 70%;
    }
    .glass .contents h2 {
        font-size: 20px;
    }

    .circle1,
    .circle2 {
        width: 250px;
        height: 250px;
    }
}
@media (max-width: 410px) {
    .glass {
        height: 100vh;
        width: 100%;
        border-radius: 0px;
    }
    .glass .navbar {
        padding: 15px 10px;
    }
    .circle1,
    .circle2 {
        width: 250px;
        height: 250px;
    }
}
